.container_four {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    height: 30rem;
    background-color: black;
    align-content: space-between;
    padding-top: 50px;
    background-image: url(./../../../../public/assets/img/backgraundbeerthree.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-position: left;
    background-color: black;
}

.container_four_card_one {
    color:  #fbcf6c;
    justify-items: right;
    align-items: center;
}

.container_four_card_one h2{
    text-align: center;
    padding-top: 10px;
    color:  #fbcf6c;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Cooper Black';
    text-decoration:underline #fbcf6c;
}

.container_four_card_one h3{
    text-align: start;
    padding-top: 20px;
    color:  #fbcf6c;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Cooper Black';
    padding-left: 20px;
}

.container_four_card_one p{
 margin-bottom: 4px;
 padding-left: 20px;
}

.container_four_icon_one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0;
    justify-items: center;
    list-style: none;
}


.icons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 50px;
    width: 20rem;
    height: 25px;
    
}

.icon_whatsapp  {
    position:relative;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.icon_whatsapp i{
    font-size: 60px;
    color:black;
    position: absolute;
    left: 70px;
    transform: translate(-50%, -50%);
}

.bxl-whatsapp:before {
    background-color: #fbcf6c;
    border-radius: 7px;
}

.icon_instagram {
    position:relative;
    justify-content: flex-start;
}

.icon_instagram i{
    font-size: 60px;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 70px;
    transform: translate(-50%, -50%);
}

.bxl-instagram:before {
    background-color:#fbcf6c;
    border-radius: 7px;
}

.icon_tiktok {
    position:relative;
    justify-content: flex-start;
}

.icon_tiktok i{
    font-size: 60px;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 70px;
    transform: translate(-50%, -50%);
}

.bxl-tiktok:before {
    background-color: #fbcf6c;
    border-radius: 7px;
}





.container_four_card_two {
    padding-left: 25px;
}

.container_four_card_two iframe {
    width: 35rem;
    height: 22rem;
}