<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="container_four">
    <div class="container_four_card_one">
        <h2>Contactanos</h2>
        <div class ="container_four_icon_one">
            <div class= "icons">
                <div>
                    <li class="icon_facebook">
                        <a href="">
                        <i class="bx bxl-facebook"></i>
                        </a>
                    </li>
                </div>
                <div>
                    <li class="icon_instagram">
                        <a href="">
                        <i class="bx bxl-instagram"></i>
                        </a>
                    </li>
                </div>
                <div>
                    <li class="icon_tiktok">
                        <a href="">
                        <i class="bx bxl-tiktok"></i>
                        </a>
                    </li>                
                </div>
            </div>
            <div>
                <p>Cel: 3057999898 / 3203117341</p>
                <p>Correo: {{"latribuna58@gmail.com"}}</p>
                <h3>Horarios</h3>  
                <p>Miercoles y Jueves = 16:30 - 11:00 pm</p>
                <p>Viernes y Sabado = 16:30 - 03:00 am</p>  
                <p>Domingo = 2:30 - 10:00 pm</p>        
            </div> 
        </div>                 
    </div>
    <div class="container_four_card_two">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.1988861041623!2d-74.10022182689416!3d4.735482341358944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f85000bcc386f%3A0x50befac528ebc3d4!2sLa%20Tribuna%20N%C2%B0%209!5e0!3m2!1ses!2sco!4v1719194382201!5m2!1ses!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>