header {
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: right;
    padding-right: 50px;
    width: 100%;
    
}

.nabvar_logo img {
top: 12px;
width: 150px;
position: absolute;
left: 3rem;
z-index: 1;

}

.nabvar{
    display: none;
    position: absolute !important;
    top: 0;
    z-index: 2 !important;

}

.navbar ul {
    display: flex;
    margin: 0;
    list-style: none;
}

.navbar li {
    padding: 30px;
}

.navbar li:hover{
    transform: scale(1.3);

}

.navbar ul li a:hover{
    color: #fbcf6c;
    transform: scale(1.1);
    font-size: 15   px;
}

.navbar a {
    color:rgb(255, 255, 255);
    font-size: 1.2rem;
    display: inline-block;
    padding: 3px;
    position: relative;
    font-weight:bold;
}

.navbar a:hover{
    color:  #fbcf6c;
}