
header {
    background-color: rgb(8, 8, 8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nabvar{
    display: none;
    position: absolute !important;
    top: 0;
    z-index: 2 !important;
}
.links {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.links a {
    padding: 20px;
}

.links a li {
    color:rgb(251, 207, 108);
    font-size: 1.2rem;
    display: inline-block;
    padding: 2px;
    position: relative;
}