<header>
    <div class="nabvar_logo">
        <img src="assets/img/ladingpage.png">
    </div>
    <nav class="navbar">
        <ul>
            <li routerLink="/home">
                <a>Menu</a>
            </li>
            <li routerLink="/reserve">
                <a>Reservas</a>
            </li>
            <li routerLink="/candidate">
                <a>Trabaja con nosotros</a>
            </li>
            <li routerLink="/sportscalendar">
                <a>Calendario Deportivo</a>
            </li>
            <li routerLink="/contacts" href="">
                <a>Contactanos</a>
            </li>
        </ul>
    </nav>
</header>
