<header>
    <div class="nabvar_logo">
        <img src="assets/img/ladingpage.png">
    </div>
    <nav class="navbar">
        <ul class="links">
            <a routerLink="/home">
                <li>Home</li>
            </a>
            <a href="">
                <li>Menu</li>
            </a>
            <a routerLink="/reserve">
                <li>Reservas</li>
            </a>
            <a routerLink="/candidate">
                <li>Trabaja con nosotros</li>
            </a>
            <a href="">
                <li>Calendario Deportivo</li>
            </a>
            <a href="">
                <li>Contactanos</li>
            </a>
        </ul>
    </nav>
</header>
