<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="contacts">
    <h2>Contactanos</h2>
    <div class="contact_cards">
        <div class ="contact_card_one">
            <div class= "icons">
                <div>
                    <li class="icon_facebook">
                        <a href="">
                        <i class="bx bxl-facebook"></i>
                        </a>
                    </li>
                </div>
                <div>
                    <li class="icon_instagram">
                        <a href="">
                        <i class="bx bxl-instagram"></i>
                        </a>
                    </li>
                </div>
                <div>
                    <li class="icon_tiktok">
                        <a href="">
                        <i class="bx bxl-tiktok"></i>
                        </a>
                    </li>                
                </div>
            </div>
        </div>
        <div class="contact_card_two">
            <p>Cel: 3057999898 / 3203117341</p>
            <p>Correo: {{"latribuna58@gmail.com"}}</p>
        </div>
        <div class="contact_card_three">
            <h3>Horarios</h3>  
            <p>Miercoles y Jueves = 16:30 - 11:00 pm</p>
            <p>Viernes y Sabado = 16:30 - 03:00 am</p>  
            <p>Domingo = 2:30 - 10:00 pm</p> 
        </div>                
    </div>
</div>