<section>
  <button class="Btn" (click)="openModal()">Suscribete</button>
  @if (isOpen) {
    <div class="container" id="wrapper" (click)="handleClose($event)">
      <div class="modal-subscribe" [formGroup]="suscribeForm">
        <h2>Subcribete y tendras grandes descuentos por ser parte de la tribuna !!</h2>
        <input formControlName="email" placeholder="Ingrese email" max="80" type="text" />
        <button [ngClass]="{'disable': suscribeForm.invalid}" [disabled]="suscribeForm.invalid" (click)="onSubmit()" class="button">enviar</button>
      </div>
    </div>
  }
</section>
