header {
    background-color:black;
    margin: 0;
    overflow-x: hidden;
    background-image:url(./../../../../public/assets/img/tribune.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 90%;
    
}

.container-reserv{
    width: 100%;
    height: 350px;
    background-color: rgb(202, 216, 230);
}

.container-list{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.data-reserv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.data-reserv button{
    display: flex;
    justify-content: center;
    height: 45px;
    width: 170px;
    margin-top: 2rem;
    color: white;
    background-color:rgb(8, 35,64);
    border-radius: 10px;
    padding:10px;
    border: 1px solid;
}
.data-reserv button:hover{
    transform: scale(1.2);
    background: #318aac;
    color: #fff !important;

}
form{
    padding: 1rem 2rem;
    height: 405px;
    width: 435px;
    background-position: center;
    background-color:rgb(255 218 134);
    opacity: .96;
    border-radius: 30px;
    align-content: center;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    border: 10px groove;
    border-color: #b3b2a3;
}
h1, h2 {
    font-family: 'Segoe UI Black';
    font-weight: bold;
    color: rgb(19, 19, 103);
    font-size: 30px;
    text-shadow: 2px 4px 3px rgb(166, 166, 227);
}
form input{
    margin-top: 20px;
    height: 40px;
    width: 170px;
    color: rgb(2, 2, 2);
    background-color:white;
    border-radius: 5px;
    margin: 5px;
    border-color: #77d3d3;
}   
.form_input{
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
} 
