.container{
    height: 35rem;
    width: 100%;
    background-color: rgb(40, 0, 65);
}

#carouselExampleAutoplaying{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.carousel-inner img {
    height: 30rem;
    width: 25%;
}

.carousel-item{
    height: 30rem;
    width: 25%;
}