<header>
    <div class="container_beer">
        <img src="assets/img/fundbeer.png" alt ="fondo beer">
    </div>
    <div class = "card_beer">
        <div class ="list_price">
            <p>Poker 330 ml   ________________  $ 3.000</p>
            <p>Aguila 330 ml  ________________  $ 3.000</p>
            <p>Red’s 269 ml   ________________  $ 3.000</p>
            <p>Aguila Light 330 ml ___________  $ 3.000</p>
            <p>Costeña Bacana 330 ml _________  $ 3.000</p>
            <p>Club Colombia 330 ml __________  $ 3.500</p>
            <p>Budweiser 250 ml ______________  $ 2.500</p>
            <p>Coronita 210 ml _______________  $ 3.500</p>
            <p>Stella 260 ml  ________________  $ 3.500</p>
        </div>
    </div>
</header>
<app-contactfooter></app-contactfooter>