* {
    margin: 0;
    padding: 0;
}

.container_services {
    display: flex; 
    height: 30rem;
    background-image: url(./../../../../public/assets/img/backgraundbeertwo.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 100%;
    background-position: right;
    background-color: black;

}

.container_services_one{
    padding-left: 20px;
    padding-top: 20px;
}


.container_services_one a {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;  
    color: #fbcf6c;
    padding-bottom: 40px;
    text-decoration: none;
    font-family: 'Cooper Black';
    align-items: center;
    display: flex;
    justify-content: center;
}

.columns{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,2fr);
    height: 10rem;
    padding: 10px;
    text-align: center;
}


.columns a{
    font-size: 23px;
    padding-bottom: 20px;
    font-family: 'Preahvihear'
}

.columns img {
    height: 8rem;
    margin: 8px;
    transition: 0.8s;
    object-fit: cover;
    box-shadow: 0 0 30px #6d4305;
    margin: 10px;
    transition: 0.5s;
    
}

.columns img:hover{
    transform: scale(1.1);
}

.container_services_two img{
    height: 50px   
}



