<link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>


<div>
    <div class="container_services">
        <div class="container_services_one">
            <a href=" ">Nuestros Servicios</a>  
            <div class="columns">  
                <div>
                <img src="assets/img/beer.png" target="LimpiezaFacial">
                <a>Cervezas</a>
                </div>
                <div>
                <img src ="assets/img/withoutalcohol.png" target="Spa manos y pies">
                <a>Bebidas Sin Alcohol</a>
                </div>
                <div>
                <img src="assets/img/liquors.png" target="Diseño Cejas Pestañas">
                <a>Licores</a>
                </div>
            </div>                
        </div>
        <div class="container_services_two">
            <img src="assets/img/beerIcon.png">   
        </div>
    </div>
</div>
